@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=PT+Mono&family=Quicksand:wght@400;600;700&display=swap');
*{
  font-family: 'Quicksand', monospace;
}
@media (min-width: 576px) {
  .main-header{
    flex-direction: column;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
  .typewriter {
    font-family: 'PT Mono', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

}
h5{
  font-weight: 700;
}
.navbar {
  background-color: #AC3B61;
}
.carousel-item .d-block{
  filter: blur(1px);
}
.meter { 
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #123C60;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode:both; 
}

@keyframes progressBar {
0% { width: 0; }
100% { width: 100%; }
}
.main-menu{
  color:white;
  background-color:grey;
  font-size: 15px;
}
.main-header{
  text-align:center;
  display:flex;
}
.main-title, .carousel-caption{
  padding:20%;
}
.carousel-inner img{
  filter: brightness(80%);
}
.fixed-top{
  top:20px;
}
.description{
  background-color: #EDC7B7;
  border:2px dotted #BAB2B5;
  border-radius: 5px;
  color: #123C60;
}
.box{
  margin:2%;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.box:hover {
  color: #AC3B61;
}
#about-me, #gallery .container, #contact-me .container{
  height:100vh;
}